.enviado {
    background: #90F3FF;
    border: 1px solid #90F3FF;
    padding: 1%;
    width: 60%;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0%;
    margin-left: 50%;
    color: black;
    margin-bottom: 22px;
}

.mensaje {
    padding: 5px;
}

.recibido {
    border: 1px solid #DFFDFF;
    background: rgb(82, 71, 177);
    padding: 1%;
    width: 60%;
    color: #fff !important;
    border-radius: 10px;
    margin-top: 10px;
    color: black;
    margin-bottom: 22px;
}

.app-mensajes {
    overflow-y: scroll;
    height: 85%;
    background-color: white;
    padding: 5px;
}