<ion-header>
  <ion-toolbar color="primary">
    <i start [routerLink]="['/yourchatApp/home']" class="fas fa-arrow-left mx-2"></i>
    <ion-title>{{variable}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="app-mensajes" id="app-mensajes">
    <div *ngFor=" let chat of chat">

      <div [ngClass]="{ 'enviado' : _cs.usuario.uid == chat.uid  , 'recibido' : _cs.usuario.uid != chat.uid}">
        <div *ngIf=" chat.img == false ">{{ chat.mensaje }} </div>
        <img *ngIf=" chat.img == true " src="{{chat.mensaje}}" class="img-thumbnail">
        <span class="badge badge-primary " [ngClass]="{ 'badge-info' : _cs.usuario.uid == chat.uid  , 'badge-success' : _cs.usuario.uid != chat.uid}">{{
          chat.nombre }}</span>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light" text-center>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <input style="border-right: none;" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()"
            placeholder="Enviar mensaje" type="text" class="form-control" placeholder="Escribe en el chat.." aria-label="Escribe en el chat..">
        </ion-col>
        <ion-col size="2">
          <button style="border:none;" class="btn btn-outline-secondary"
            type="button" id="get_file"  (click)="selectImage()">
            <span style="color: #00D3FA;">
              <ion-icon name="camera" style="font-size: 1.5rem"></ion-icon>
            </span>
          </button>
        </ion-col>
        <ion-col size="2">
          <button  style="border:none;" class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="enviar_mensaje()"><span
              style="color: #00D3FA;"> <i class="fas fa-arrow-right" style="font-size: 1.5rem"></i></span></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-footer>