<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding text-center>
    <div>
        <h4>Sign Up</h4>
        <br>
        <br>
    </div>
    <div margin-top>
        <h1 style="color:#00D4FF;font-size:65px;">Yourchat</h1>
        <br>
        <br>
    </div>
    <ion-list>

        <ion-item>
            <ion-label position="floating" style="color: #999;">Email</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" style="color: #999;">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <ion-item margin-top margin-bottom style="border:none!important;">
            <button margin-bottom class="boton1" (click)="login()">Inicio Sesión</button>
        </ion-item>

    </ion-list>
    <div (click)="loginGmail()" class="google-btn" text-center>
        <div class="google-icon-wrapper">
            <img class="google-icon" src="assets/google.png" />
        </div>
        <p class="btn-text"><b>Sign in with google</b></p>
    </div>

    <p margin-top>No tienes Cuenta? <a style="color:#00D4FF;" (click)="iraRegister()">Registrate</a></p>

    <br>


</ion-content>