<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding text-center>
    <div>
        <h4>Sign In</h4>
    </div>
    <div margin-top>
        <h2 style="color:#00D4FF;">Yourchat</h2>
    </div>
    <ion-list>

        <ion-item>
            <ion-label style="color: #999;">Email</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label style="color: #999;">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

    </ion-list>
    <button margin-bottom class="boton1" (click)="login()">Inicio Sesión</button>
    <button class="boton2" (click)="loginGmail()" > <img width="25px" src="assets/google.png"
        class="flex self-center pr2" > Inicio con Google</button>
    <p >No tienes Cuenta? <a style="color:#00D4FF;" (click)="iraRegister()">Registrate</a></p>
</ion-content>