<ion-header>
    <ion-toolbar color="primary">
        <ion-grid>
            <ion-row text-center>
                <ion-col size="2">
                    <ion-icon name="search" [routerLink]="['/buscar']" style="font-size: 1.5rem"></ion-icon>
                </ion-col>
                <ion-col size="8">
                    <h3 no-margin> YOURCHAT</h3>
                </ion-col>
                <ion-col size="2">
                    <ion-icon name="exit" (click)="signOut()" style="font-size: 1.5rem"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>



    </ion-toolbar>

</ion-header>

<ion-content>

    <div margin-top *ngIf="_cs.uid">
        <h2>Tendencias</h2>
        <ion-spinner name="bubbles" *ngIf="loading1"></ion-spinner>
    </div>


    <div *ngFor=" let variable of tendencias , let i = index">

        <div padding class="media animated fadeIn" [routerLink]="['/chat' , variable.nombre ]" *ngIf="_cs.uid">
            <div class="image-cropper">
                <img style="margin-left:0%;" class="rounded" [src]='variable.url'>
            </div>

            <div style="height:60px;" class="media-body">
                <h5 class="mt-0"> {{ variable.nombre }}</h5>
                <p>{{ variable.desc }}</p>
            </div>
        </div>
    </div>


    <div margin-top *ngIf="_cs.uid">
        <h2>Categorias</h2>
        <ion-spinner name="bubbles" *ngIf="loading3"></ion-spinner>
    </div>



    <ion-grid *ngIf="_cs.uid">
        <ion-row text-center>
            <ion-col size="6" *ngFor="let categoria of _cs.categorias">
                <img width="100px" [routerLink]="['/categDetalles/' , categoria.nombre]" class="rounded" [src]="categoria.url">
                <p style="text-align: center">{{ categoria.nombre }}</p>
            </ion-col>

        </ion-row>
    </ion-grid>

    <div text-center style="background-color:#00D4FF;color:white;">
        <div padding style="border-bottom:1px solid white;">
            <h3>YOURCHAT</h3>
            <p>¡La primera app de chats dedicada a foros de todo tipo , para conocer a gente con mismas aficiones y
                encontrar nuevos hobbys!</p>
        </div>
        <div padding>
            <ul no-padding>
                <li>
                    <a class="text-white" target="_blank" href="https://yourchat.es/politica/privacidad.html">Términos
                        y condiciones</a>
                </li>
                <li>
                    <a class="text-white" target="_blank" href="https://www.instagram.com/yourchatapp/">Instagram</a>
                </li>
                <li>
                    <a class="text-white" target="_blank" href="https://www.facebook.com/YourChat-546659349100930">Facebook</a>
                </li>

            </ul>
        </div>
    </div>

</ion-content>