<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            YOURCHAT
        </ion-title>
        <i *ngIf="_cs.usuario.uid" class="fas fa-search" style="color:white;margin-right: 3%;" [routerLink]="['/buscar']" routerLinkActive="router-link-active"></i>
    </ion-toolbar>
    
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row text-center>
            <ion-col col-12>
                <ion-button expand="full" color="danger" (click)="signOut()">Salir</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div margin-top *ngIf="_cs.uid">
        <h2>Tendencias</h2>
        <ion-spinner name="bubbles" *ngIf="loading1"></ion-spinner>
    </div>



    <div *ngFor=" let variable of tendencias , let i = index">

        <div class="media animated fadeIn" [routerLink]="['/chat' , variable.nombre ]" *ngIf="_cs.uid">
            <div class="image-cropper">
                <img style="margin-left:0%;" class="rounded" [src]='variable.url'>
            </div>

            <div style="height:60px;" class="media-body">
                <h5 class="mt-0"> {{ variable.nombre }}</h5>
                <p>{{ variable.desc }}</p>
            </div>
        </div>
    </div>


    <div margin-top *ngIf="_cs.uid">
        <h2>Categorias</h2>
        <ion-spinner name="bubbles" *ngIf="loading3"></ion-spinner>
    </div>



    <ion-grid *ngIf="_cs.uid">
        <ion-row text-center>
            <ion-col size="6" *ngFor="let categoria of _cs.categorias">
                <img width="100px" [routerLink]="['/categDetalles/' , categoria.nombre]" class="rounded" [src]="categoria.url">
                <p style="text-align: center">{{ categoria.nombre }}</p>
            </ion-col>

        </ion-row>
    </ion-grid>

    <div text-center style="background-color:#00D4FF;color:white;">
        <div padding style="border-bottom:1px solid white;">
            <h3>YOURCHAT</h3>
            <p>¡La primera app de chats dedicada a foros de todo tipo , para conocer a gente con mismas aficiones y encontrar nuevos hobbys!</p>
        </div>
        <div padding>
            <ul no-padding>
                <li>
                    <a target="_blank" href="https://yourchat.es/politica/privacidad.html">Términos y condiciones</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/yourchatapp/">Instagram</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/YourChat-546659349100930">Facebook</a>
            </ul>
        </div>
    </div>

</ion-content>