<ion-header>
    <ion-toolbar color="primary">
        <ion-button align-left [routerLink]="['/yourchatApp/home']"><i class="fas fa-arrow-left"></i></ion-button>
        <ion-title>
            My Chat
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div text-center>
        <h4 style="color:#999;">{{ruta}}</h4>
    </div>
    <div text-center>
        <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
    </div>

    <div *ngIf='noperfil===0' text-center>
        <div>
            <img src="assets/icono.png" class="rounded mx-auto d-block imagen-nogrupo " style="text-align: center">
            <h4 style="text-align: center;color:#00D3FA;">Perfil Vacio</h4>
        </div>
    </div>

    <div *ngFor='let usuar of usu'>
        <div text-center>
            <img width="50%" [src]="usuar.url" alt="" >
        </div>

        <ion-card>
            <ion-card-content>
                <p style="color:rgb(175, 173, 173);">Nombre</p>
                <h3>{{usuar.name}}</h3>
                <p style="color:rgb(175, 173, 173);">Intereses</p>
                <h4>{{usuar.desc}}</h4>
            </ion-card-content>
        </ion-card>
    </div>

    <div text-center>
        <ion-button expand="full" [routerLink]="['/editarUsuario',uid]">Editar</ion-button>
    </div>


</ion-content>