<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="2"> <i [routerLink]="['/yourchatApp/home']" class="fas fa-arrow-left" style="font-size: 1.5rem"></i></ion-col>
        <ion-col size="10"><h3>Detalles de Grupo</h3></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="_cs.usuario.uid">
    <h3>GRUPOS</h3>
    <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>


    <div *ngIf='(_cs.grupos)?.length === 0'>

      <br>
      <div *ngIf='nogrupos === true'>
        <img [routerLink]="['/buscar']" src="assets/nogrupos.png" class="rounded mx-auto d-block imagen-nogrupo " style="text-align: center">
        <h4 style="text-align: center;color:#00D3FA;">No tienes todavia grupos!</h4>
        <br>
        <br>
      </div>

    </div>
  </div>


  <ion-grid *ngFor="let categoria of cat" [routerLink]="['/chat' , categoria.nombre ]">
    <ion-row *ngIf="_cs.usuario.uid">
      <ion-col size='3'><img style="border-radius:50%;" height="59px" [src]='categoria.url' alt=""></ion-col>
      <ion-col size='9'>
        <h3 no-margin>{{categoria.nombre}}</h3>
        <p no-margin style="font-size:12px;">{{categoria.desc}}</p>
        <p float-right><small>{{categoria.fecha | date}}</small></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="cat.length===0">
    no tiene grupo
  </div>
</ion-content>