<ion-header>
  <ion-toolbar color="primary">
     <ion-grid>
      <ion-row>
        <ion-col size="2"> <i [routerLink]="['/yourchatApp/grupos']" class="fas fa-arrow-left" style="font-size: 1.5rem"></i></ion-col>
        <ion-col size="10"><h3 no-margin>Registrar Grupo</h3></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <form novalidate="" (ngSubmit)="guardar(forma)" #forma="ngForm">
    <div class="form-group">
      <div margin-top margin-bottom text-center>
        <ion-button color="primary" (click)="cargarImagen()">
          <ion-icon align-left name="camera"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input minlength="5" class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="grupo.nombre"
        required #nombre="ngModel">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descripcion del grupo</label>
      <textarea maxlength="300" class="form-control" id="exampleFormControlTextarea1" placeholder="Aquí introduce toda la informacion del grupo, reglas, temas etc.. "
        rows="3" name="desc" [(ngModel)]="grupo.desc" required #desc="ngModel"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Categoria</label>
      <select class="form-control" name="categoria" [(ngModel)]="grupo.categoria" required #categoria="ngModel">
        <option>Categoria</option>
        <option *ngFor="let categoria of categorias"> {{ categoria.nombre }}</option>
      </select>
    </div>
    <button [disabled]="!forma.valid === null" style="background-color: #00D3FA; border-color: #00D3FA;"
      type="submit" class="btn btn-primary btn-lg btn-block main-container">Crear grupo</button>
  </form>


  <!-- 
  <ion-list>
    <div margin-top margin-bottom text-center>
      <ion-button color="primary" (click)="cargarImagen()">
        <ion-icon align-left name="camera"></ion-icon>
      </ion-button>
    </div>
    <ion-item>
      <ion-label position="floating" style="color: #999;">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="grupo.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: #999;">Descripcion del Grupo</ion-label>
      <ion-textarea maxlength="300" [(ngModel)]="grupo.desc"></ion-textarea>
    </ion-item>
    <br>
    <ion-item margin-top margin-bottom style="border:none!important;">
      <ion-label style="color: #999;">Categoria</ion-label>
      <ion-select placeholder="Select One" name="categoria" [(ngModel)]="grupo.categoria">
        <ion-select-option *ngFor="let categoria of categorias"> {{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item text-center>
      <ion-button color="secondary" (click)="crearGrupo()">Crear Grupo</ion-button>
    </ion-item>

  </ion-list> -->

</ion-content>